<p>my-books works!</p>

<div class="custom_card" *ngFor="let book of bookModels">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://localhost:44396/{{book.bookImage}}">
      
      <div class="card-body">
        <h5 class="card-title">{{book.bookTitle}}</h5>
        
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">category : {{book.bookCategory}}</li>
        <li class="list-group-item">Publisher : {{book.bookPublisher}}</li>
        <li class="list-group-item">Price : {{book.bookPrice}}</li>
        <li class="list-group-item">Author : {{book.bookUserName}}</li>
        <li class="list-group-item">Publish Date : {{book.bookReleasedDate | date: 'dd/MM/yyyy'}}</li>
      </ul>
      <div class="card-body">
        <button class="btn btn-primary"  type="button" (click)="refund()">Refund</button>
        <button class="btn btn-primary" type="button" (click)="refund()">Invoice</button>
      </div>
    </div>
  </div>

