
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        
        <img src="https://digitalbookimages.blob.core.windows.net/images/{{bookModel.bookImage}}" alt="Home page" class="img-fluid rounded-start"/>
        <!-- <img src="https://localhost:44396/Resources/Images/{{bookModel.bookImage}}" alt="Home page" class="img-fluid rounded-start"/> -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title : {{bookModel.bookTitle}}</h5>
          <ul class="data_link">
            <li class="">Author : {{bookModel.bookAuthor}}</li>
            <li class="">Publisher : {{bookModel.bookPublisher}}</li>
            <li class="">Price : {{bookModel.bookPrice}}</li>
            <li class="">Published Date and Year : {{bookModel.bookReleasedDate}}</li>
            <li class="">Category : {{bookModel.bookCategory}}</li>
            
          </ul>
          <p class="card-text">{{bookModel.bookContent}}</p>
          
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" [(ngModel)]="bookModel.bookId" id="bookId">
<div class="custom_card">
  <div class="card" style="width: 18rem;">
    <div class="card-header">Buy Book</div>    
    <div class="card-body">
      <h5 class="card-title">Proceed with buy...</h5> 
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name : <input id="name" type="text" [(ngModel)]="userModel.userName"></li>
      <li class="list-group-item">Email : <input id="email" type="text" [(ngModel)]="userModel.userEmail"></li>    
    </ul>
    <div class="card-body">
      <button class="btn btn-primary" type="button" (click)="buyBook()">Buy </button>
      
    </div>
  </div>
</div>

<!-- <div>
    on the book details reader page
</div>
<div class="row">
    <div class="col-md-3">
        <img src="https://localhost:44396/{{bookModel.bookImage}}" alt="Home page" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:100px; width:100px;" />
    </div>
    <div class="col-md-9">
        <span>Book Name : </span><label id="bookName">{{bookModel.bookTitle}}</label><br/>
        <span>Book Author : </span><label id="bookAuthor">{{bookModel.bookAuthor}}</label><br/>
        <span>Book Publisher : </span><label id="bookPublisher">{{bookModel.bookPublisher}}</label><br/>
        <span>Book Price : </span><label id="bookPrice">{{bookModel.bookPrice}}</label><br/>
    </div>
</div>
<br/>
<div class="col-md-2">
    <button>buy</button>
</div>
<div class="row">
    <label id="bookContent">
        {{bookModel.bookContent}}
    </label>
</div> -->