
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        
        <img src="https://localhost:44396/{{bookModel.bookImage}}" alt="Home page" class="img-fluid rounded-start"/>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title : {{bookModel.bookTitle}}</h5>
          <ul class="data_link">
            <li class="">Author : {{bookModel.bookAuthor}}</li>
            <li class="">Publisher : {{bookModel.bookPublisher}}</li>
            <li class="">Price : {{bookModel.bookPrice}}</li>
            <li class="">Published Date and Year : {{bookModel.bookReleasedDate}}</li>
            <li class="">Category : {{bookModel.bookCategory}}</li>
            
          </ul>
          <p class="card-text">{{bookModel.bookContent}}</p>
          
        </div>
      </div>
    </div>
  </div>

<!-- <div>
    on the book details reader page
</div>
<div class="row">
    <div class="col-md-3">
        <img src="https://localhost:44396/{{bookModel.bookImage}}" alt="Home page" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:100px; width:100px;" />
    </div>
    <div class="col-md-9">
        <span>Book Name : </span><label id="bookName">{{bookModel.bookTitle}}</label><br/>
        <span>Book Author : </span><label id="bookAuthor">{{bookModel.bookAuthor}}</label><br/>
        <span>Book Publisher : </span><label id="bookPublisher">{{bookModel.bookPublisher}}</label><br/>
        <span>Book Price : </span><label id="bookPrice">{{bookModel.bookPrice}}</label><br/>
    </div>
</div>
<br/>
<div class="col-md-2">
    <button>buy</button>
</div>
<div class="row">
    <label id="bookContent">
        {{bookModel.bookContent}}
    </label>
</div> -->