<!-- <div class="alert alert-success" role="alert" *ng-if="IsError()">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div> -->
<div class="card">
    <div class="card-header">
      Search Book
    </div>
  <div class="container p-5">
  
      <div class="row">
        <div class="form-group col-md-6 col-xs-12">
          <label for="inputEmail4">Title</label>
          <input type="text" class="form-control" [(ngModel)]="bookModel.bookTitle" id="inputEmail4" placeholder="Book Title">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Price</label>
          <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" [(ngModel)]="bookModel.bookPrice" id="inputPassword4" placeholder="Book Price">
        </div>
        
      </div>
      <div class="row mt-2">
          <div class="form-group col-md-6">
            <label for="inputCategory">Category</label>
            <input type="text" class="form-control" [(ngModel)]="bookModel.bookCategory" id="inputCategory" placeholder="Category">
          </div>
          <div class="form-group col-md-6">
              <label for="inputPassword4">Author</label>
              <input type="text" class="form-control" [(ngModel)]="bookModel.bookAuthor" id="inputPassword4" placeholder="Author">
            </div>
        </div>
     
      <div class="pt-1 mb-4">
          <button class="btn btn-dark btn-lg btn-block" (click)="searchBook()" type="button">Search</button>
        </div>
        <br/>
        <label style="color: red;">{{ErrorMessage}}</label>

<div class="custom_card" *ngFor="let book of bookModels">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://localhost:44396/{{book.bookImage}}">
          
          <div class="card-body">
            <h5 class="card-title">{{book.bookTitle}}</h5>
            
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">category : {{book.bookCategory}}</li>
            <li class="list-group-item">Publisher : {{book.bookPublisher}}</li>
            <li class="list-group-item">Price : {{book.bookPrice}}</li>
            <li class="list-group-item">Author : {{book.bookUserName}}</li>
            <li class="list-group-item">Publish Date : {{book.bookReleasedDate | date: 'dd/MM/yyyy'}}</li>
          </ul>
          <div class="card-body">
            <button class="btn btn-primary" type="button" (click)="viewBookDetails(book.bookId)">View</button>
            
          </div>
        </div>
      </div>

  <!-- <table class="table">
      <thead class="thead-dark">
        <tr>
          
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Img</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let book of bookModels">
              <td>{{book.bookTitle}}</td>
              <td>{{book.bookCategory}}</td>
              <td>{{book.bookPrice}}</td>            
              <td><img style="height:100px;width:100px;" src="https://localhost:44396/{{book.bookImage}}"></td>
              <td><input type="button" value="Buy" (click)="viewBookDetails(book.bookId)">
          </tr>
        
      </tbody>
    </table> -->
  </div>
  </div>
  