<div class="card">
  <div class="card-header">
    Search Book
  </div>
<div class="container">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Title</label>
        <input type="text" class="form-control" [(ngModel)]="bookModel.bookTitle" id="inputEmail4" placeholder="Book Title">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Publisher</label>
        <input type="text" class="form-control" [(ngModel)]="bookModel.bookPublisher" id="inputPassword4" placeholder="category">
      </div>
      
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Released Date</label>
          <input type="date" class="form-control" [(ngModel)]="bookModel.bookReleasedDate" id="inputEmail4" placeholder="Book Title">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Author</label>
            <input type="text" class="form-control" [(ngModel)]="bookModel.bookCategory" id="inputPassword4" placeholder="category">
          </div>
      </div>
   
    <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" (click)="searchBook()" type="button">Search</button>
      </div>
      <br/>
      <label style="color: red;">{{ErrorMessage}}</label>
    
<table class="table">
    <thead class="thead-dark">
      <tr>
        <!-- <th scope="col">#Sno</th> -->
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Active</th>
        <th scope="col">Img</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of bookModels">
            <td>{{book.bookTitle}}</td>
            <td>{{book.bookCategory}}</td>
            <td>{{book.bookPrice}}</td>
            <td>{{book.bookIsActive}}</td>
            <td><img style="height:100px;width:100px;" src="https://localhost:44396/{{book.bookImage}}"></td>
            <td><input type="button" value="Delete" (click)="deleteBook(book.bookId)">
            &nbsp;<input type="button" value="Edit" (click)="editBook(book)">  </td>
            
        </tr>
      
    </tbody>
  </table>
</div>
</div>
